*{
    margin: 0;
    justify-content: center;
    align-items: center;
}
/* css style for the body */

h1, h2{
    text-align: center;
}
h1{font-size: 5rem;}
h2{
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 15px;
}
/* css style for heading one and 2 */

p{
    padding-top: 15px;
}

.first-img{
    display: block;
    width: 500px;
    height: 600px;
    padding-left: 480px;
    /* style for the first image */


}

.para{
    font-size: 40px;
    text-align: center;
    background-color: beige;
}

.sec-img{
    display: block;
    width: 500px;
    height: 600px;
    padding-left: 480px;

}
/* style for the second image */